<div class="container profile-container">
    <h1 class="section-title">User Profile</h1>
    <div class="profile-card">
        <h2 class="profile-name">{{user.name}}</h2>
        <p class="profile-role">Role: {{user.role}}</p>
        <a href="/api/sessions/logout" class="button-link">
            <button id="logoutButton" class="logout-button">Logout</button>
        </a>
    </div>
</div>
