body{
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    margin: 0;
    padding: 20px;
}

a{
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    background-color: #003f7f;
}

.contendor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productos {
    width: fit-content;
    min-width: 440px;
    max-width: 860px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.producto {
    background: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.producto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.producto .titulo {
    font-size: 20px;
    margin: 10px 0;
    color: #333;
}

.producto button {
    padding: 10px 20px;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: .1s;
}

.producto button:hover {
    transform: scale(1.2);
    background-color: #003f7f;
    color: #FFD700;
}

.no-products {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 20px;
}

.no-products p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.no-products a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0056b3;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    transition: 0.3s;
}

.no-products a:hover {
    background-color: #003f7f;
}